<form action="" class="col-md-4 offset-4 mt-5 card cadr-body" #form="ngForm"(ngSubmit)="loginData(form)">
    <h1 class="text-center bg-primary text-white">form4</h1>
    <div class="form-group">
        <input type="ProductName" name="ProductName" id="ProductName" class="form-control" placeholder="ProductName...." #ProductName="ngModel"ngModel required>
        <div *ngIf="ProductName.touched && ProductName.invalid">
            <p class="alert-danger"   *ngIf="ProductName.errors.required">*This field is required</p>
    
        </div>
    </div>

<div class="form-group">
    <input type="ProductPrice" name="ProductPrice" id="ProductPrice" class="form-control" placeholder="ProductPrice...." #ProductPrice="ngModel"ngModel required>
    <div *ngIf="ProductPrice.touched && ProductPrice.invalid">
        <p class="alert-danger"   *ngIf="ProductPrice.errors.required">*This field is required</p>

    </div>
</div>

<div class="form-group">
    <input type="ProductDescription" name="ProductDescription" id="ProductDescription" class="form-control" placeholder="ProductDescription...." #ProductDescription="ngModel"ngModel required>
    <div *ngIf="ProductDescription.touched && ProductDescription.invalid">
        <p class="alert-danger"   *ngIf="ProductDescription.errors.required">*This field is required</p>

    </div>
</div>
<div class="form-group">
    <input type="ProductImgUrl" name="ProductImgUrl" id="ProductImgUrl" class="form-control" placeholder="ProductImgUrl....." #ProductImgUrl="ngModel"ngModel required>
    <div *ngIf="ProductImgUrl.touched && ProductImgUrl.invalid">
        <p class="alert-danger"   *ngIf="ProductImgUrl.errors.required">*This field is required</p>

    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn-outline-success float-right">AddProduct</button>
</div>



</form>
