<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IMDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " routerLink="movies" id="a1">MOVIES </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="addmovies" id="a2">ADDMOVIE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" id="a3">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
