<h1 custDir>This is Home Component</h1>


<p>Website.com began in 2005. After years in the web hosting industry, we realized that it was near impossible for the average Jane or Joe to create their own website. Traditional 
        web hosting services were simply too complicated, time consuming, and expensive to manage.</p>

        <p>Website.com began in 2005. After years in the web hosting industry, we realized that it was near impossible for the average Jane or Joe to create their own website. Traditional 
                web hosting services were simply too complicated, time consuming, and expensive to manage.</p>